/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HTML */
html{
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* Body */
body{
    background-color: #0F292F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%230F292F'/%3E%3Cstop offset='1' stop-color='%23501F3A'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%230d2a34'/%3E%3Cstop offset='1' stop-color='%235a2140'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%230c2b38'/%3E%3Cstop offset='1' stop-color='%23652345'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%230f2b3d'/%3E%3Cstop offset='1' stop-color='%236f254b'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23142b41'/%3E%3Cstop offset='1' stop-color='%237a2650'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%231c2a44'/%3E%3Cstop offset='1' stop-color='%23852855'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23252946'/%3E%3Cstop offset='1' stop-color='%2390295a'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%232e2846'/%3E%3Cstop offset='1' stop-color='%239c2a5e'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23372646'/%3E%3Cstop offset='1' stop-color='%23a72b63'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23402443'/%3E%3Cstop offset='1' stop-color='%23b32c67'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%2349213f'/%3E%3Cstop offset='1' stop-color='%23bf2c6b'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23501F3A'/%3E%3Cstop offset='1' stop-color='%23CB2D6F'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-opacity='0.12'%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #CCCCCC;
}

/*PALETA DE COLORES
#501F3A       BORDO
#CB2D6F       ROSA
#CCCCCC       BLANCO     
#12A098       VERDE CLARO     
#0F292F       VERDE OSCURO*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav{
    background-color:#CCCCCC;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100%;
}

.nav div{
    padding:0.5rem ;
    width: 4rem;
    transition-duration: 0.3s;
    margin-bottom: 0.3rem;
}


.nav div:hover{
    width: 4.5rem;
    transition-duration: 0.3s;
}




#marca{
    width: auto;
}

#marca:hover{
    transform: rotate(15deg);
}

#menu{
    border-top: 2px solid black;
}

#salir{
    border-top: 2px solid black;
    cursor: pointer;
}

box-icon{
   width: 48px; 
}

.center{
    width: 100%; /* REVISAR */
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
  


.nav img{
    width: 92%;
    margin-left: 8%
}


.center img{
    background-size: cover;
    height: 100vh;
}

p{
    text-align: center;
    color: black;
}


.section-products p{
    color: #CCCCCC;
}

.section-products{
    width: 92%;
    margin-left: 8%;
    padding-bottom: 0;
}

#pizzas{
    width: 92%;
    display: flex;
    justify-content: space-around;
    background-color: #CCCCCC;
    margin-left: 8%;
}

#pizzas img{
    padding: 0.5rem;
    width: 5rem;
    transition-duration: 0.3s;
}

#pizzas img:hover{
    transform: rotate(15deg);
    cursor: pointer;
    transition-duration: 0.3s;
}

#pizzas div:hover{
    size:10px ;
  }

.contenedorDeVariedades{
    justify-content: space-around;
    width: 92%;
    margin-left: 8%;
    /* background-color: #0F292F; */
    color: #CCCCCC;
    text-align: center;
    padding-top: 1rem;
    padding-right: 1rem;
}

.contenedorBotones{
    background-color: black;
}

.modal-backdrop{
    position: relative
}

.principal{
    height: 100vh;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

.section-products {
    padding: 25px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
    background-color: #12A098;
    width: 100%;
}

/*PALETA DE COLORES
#501F3A       BORDO
#CB2D6F       ROSA
#CCCCCC       BLANCO     
#12A098       VERDE CLARO     
#0F292F       VERDE OSCURO*/

.section-products .header h3 {
    font-size: 1rem;
    color: #CCCCCC;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #CCCCCC;
    background-color: #12A098; 
    border-radius: 5px;
}

.single-product h3{
    text-align: start;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://www.lavoz.com.ar/resizer/JkTjWJu6dTBQ2k0LJiAbKSdlfIs=/1023x682/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/A5L4SSFSFJCVHFYFMDWBLH72ZY.png") no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://images.rappi.com.ar/products/287038-1540490885.png") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://cdn.lavoz.com.ar/sites/default/files/styles/landscape_565_318/public/nota_periodistica/NOTHOPPI2_1601916843.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://static.wixstatic.com/media/fc266a_95b3c98dd25449fd952dfceb7eac91ed~mv2.jpg/v1/fill/w_321,h_401,al_c,q_90/fc266a_95b3c98dd25449fd952dfceb7eac91ed~mv2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("https://sommelier.com.pe/wp-content/uploads/photo-1572802419224-296b0aeee0d9.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url("https://s1.1zoom.me/big0/951/Fast_food_Hamburger_Buns_French_fries_Vegetables_566270_1280x853.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("https://media.istockphoto.com/photos/favourite-burger-toppings-picture-id469660542?k=20&m=469660542&s=612x612&w=0&h=1LfG2K-CgB78QgcXJllD8riD3WyPLFUfR0tfihlEmhw=") no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url("https://i.pinimg.com/736x/c4/d8/97/c4d897a5e56d2a906522029f1334b7d9.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-9 .part-1::before {
    background: url("https://images.unsplash.com/photo-1592892111425-15e04305f961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvY2ElMjBjb2xhfGVufDB8fDB8fA%3D%3D&w=1000&q=80") no-repeat center;
    background-size: cover;
}

.section-products #product-10 .part-1::before {
    background: url("https://c0.wallpaperflare.com/preview/398/729/224/alcohol-alcoholic-beverage-beer-beer-bottle.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-11 .part-1::before {
    background: url("https://r1.ilikewallpaper.net/iphone-wallpapers/download-133454/sprite.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-12 .part-1::before {
    background: url("https://babycocina.com/wp-content/uploads/2020/09/limonada-sin-azucar.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-13 .part-1::before {
    background: url("https://i.pinimg.com/736x/2b/9e/8a/2b9e8af5b4ebd70cdde1228f92563de1.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-14 .part-1::before {
    background: url("https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/06/13172547/picadas-destacada.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-15 .part-1::before {
    background: url("https://picadasboom.com.ar/wp-content/uploads/2020/11/23.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-16 .part-1::before {
    background: url("https://www.telediariodigital.net/wp-content/uploads/2013/11/Diapo-13.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-17 .part-1::before {
    background: url("https://fondosmil.com/fondo/65802.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-18 .part-1::before {
    background: url("https://c0.wallpaperflare.com/preview/436/87/720/artesanal-pizza-cheese-close-up-crust.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-19 .part-1::before {
    background: url("https://fondosmil.com/fondo/65821.jpg") no-repeat center;
    background-size: cover;
}
.section-products #product-20 .part-1::before {
    background: url("https://besthqwallpapers.com/Uploads/7-12-2019/114798/thumb2-pizza-fast-food-pizza-with-sausage-and-olives-food-concepts-background-with-pizza.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/*PALETA DE COLORES
#501F3A       BORDO
#CB2D6F       ROSA
#CCCCCC       BLANCO     
#12A098       VERDE CLARO     
#0F292F       VERDE OSCURO*/

/* DIVISORES */
.divisor{
    width: 88%;
    height: 10%;
    margin-left: 10%;
    padding-top: 1rem;
    border-radius: 10px;
    padding-bottom: 1%;
}

.tipoDeComida{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #CCCCCC;
    font-family:cursive;
    /* border-right: 1px solid #CCCCCC; */
    padding-right: 1%;
    
}

.tipoDeComida img{
    width: auto;
    height: 15vh;
    margin: 0;
}

.tipoDeComida h3{
    width: min-content;
    height: min-content;
    margin-bottom: 0;
    font-weight: 100;
    color: #CCCCCC;
    background-color: #12a099b9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:fantasy ;
}

#divisorBurgers{
    width: 100%;
    height: 15vh;
    background-image: url(https://us.123rf.com/450wm/kbolbik/kbolbik2010/kbolbik201000595/157596716-patr%C3%B3n-transparente-de-vector-de-hamburguesas-de-contorno-negro-fondo-para-banner-embalaje-men%C3%BA-.jpg?ver=6);
    background-size: auto;
}

#divisorBurgers2{
    width: 100%;
    height: 15vh;
    background-size: auto;
}

#divisorBurgers3{
    width: 100%;
    height: 15vh;
    background-image: url(https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/06/13172547/picadas-destacada.jpg);
    background-size: cover;
}

#divisorBurgers4{
    width: 100%;
    height: 15vh;
    background-image: url(https://s1.1zoom.me/big0/862/Fast_food_Pizza_Tomatoes_Pepper_Wood_planks_528059_1280x853.jpg);
    background-size: cover;
}

#divisorBurgers img{
    width: 100%;
    height: 100%;
}

#divisorBurgers div{
    width: 10%;
    justify-content: center;
    align-items: center;
    
}

/* SWEET ALERT */
.swal2-popup{
    
    background-image: linear-gradient(to bottom right,#225f6d, #6b1a3c) !important;
    color: #CCCCCC !important;
    font-family: Arial, Helvetica, sans-serif;
}

.swal2-styled.swal2-confirm{
    /* background-color: #225f6d !important;
    color: #CCCCCC !important; */
}

/* VIDEO */
/* Cerveza */
#video {
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

/* Video Principal */
#video2 {
    top: 0;
    left: 0;
    width: 92%;
    margin-left: 8%;
    height: 100vh;
    object-fit: cover;
}


/* DARK MODE */
  /* body {
    height: 100%;
    background: linear-gradient(#ffad00 50%, #d58500);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  form {
    width: 600px;
    height: 350px;
    margin: -4px -2px; 
    border-radius: 500px;
    background: linear-gradient(#ffbd00, #ca7900);
    box-shadow: 0 1px 5px hsla(41, 100%, 40%, 0.3),
           -3px 25px 25px hsla(41, 100%, 35%, 0.5),
           -6px 50px 50px hsla(41, 100%, 30%, 0.3),
           -9px 65px 65px hsla(41, 100%, 20%, 0.3);
  }
  
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    background: #ffad00;
    border-radius: 500px;
    border: solid 5px transparent;
    background-clip: padding-box;
    cursor: pointer;
  }
  
  .toggle__wrapper {
    width: 500px;
    height: 250px;
    margin: -4px -2px; 
    border-radius: 500px;
    background: linear-gradient(hsla(39, 100%, 44%, 1), hsla(39, 100%, 42%, 0.1));
    box-shadow: 0px 5px 1px 0 hsla(41, 100%, 57%, 0.7);
  }
  
  .toggle__bg {
    width: 500px;
    height: 250px;
    background: hsla(199, 43%, 59%, 1);
    background: linear-gradient(to right, hsla(199, 43%, 59%, 1) 50%, hsla(18, 77%, 50%, 1) 50% 100%);
    background-size: 200% 100%;
    background-position: 75%;
    border-radius: 500px;
    border: solid 5px transparent;
    background-clip: padding-box;
    box-shadow: inset 0px 30px 50px 15px hsla(0, 0%, 0%, 0.30);
    transition: all 0.85s ease-in-out;
  }
  
  .toggle__sphere {
    position: relative;
    height: 238px;
    width: 238px;
    background: hsla(18, 100%, 62%, 1);
    background: 
      linear-gradient(to right, hsla(199, 43%, 59%, 1) 50%, hsla(18, 77%, 50%, 1) 50% 100%);
    border-radius: 50%;
    transform-origin: top left;
    transform: translateY(1px);
    box-shadow:  
      2px 0px 5px 1px hsla(18, 77%, 15%, 0.05), 
      0px 10px 10px 1px hsla(18, 77%, 15%, 0.2), 
      -3px 0px 3px 1px hsla(0, 0%, 0%, 0.75);
    transition: all 0.85s ease-in-out;
  }
  
  .toggle__sphere:before, 
  .toggle__sphere:after {
    content: '';
    position: absolute;
    left: calc(50% - 20px);
    height: 1px;
    width: 40px;
    background: hsla(0, 0%, 0%, 0.25);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
  }
  
  .toggle__sphere:before {
    top: -2px;
  }
  
  .toggle__sphere:after {
    bottom: -1px;
  }
  
  .toggle__sphere-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0px -30px 30px 15px hsla(0, 0%, 0%, 0.1)
  }
  
  .toggle__sphere-bg {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: 50%;
    transition: transform 0.85s ease-in-out;
  }
  
  .toggle__sphere-bg:before, 
  .toggle__sphere-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .toggle__sphere-bg:before {
    background-color: hsla(18, 77%, 50%, 1);
    border-radius: 50%;
  }
  
  .toggle__sphere-bg:after {
    background-color: hsla(199, 43%, 59%, 1);
    transform: rotateY(180deg);
    border-radius: 50%;
  }
  
  /* input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
   */
  input:checked + .toggle__bg {
    background-position: 25%;
  }
  
  input:checked + .toggle__bg .toggle__sphere {
    transform: translateX(250px) translateY(1px);
    box-shadow:  
      -2px 0px 5px 1px hsla(18, 77%, 15%, 0.05), 
      0px 10px 10px 1px hsla(18, 77%, 15%, 0.2), 
      3px 0px 3px 0px hsla(0, 0%, 0%, 0.75);
  }
  
  input:checked + .toggle__bg .toggle__sphere-bg {
    transform: rotateY(180deg);
  }
  
  .modal{
    display:flex;
  }
  
  
  
  
  



/* RESPONSIVE*/
@media screen and (max-width: 1000px){

  header{
    flex-direction: column;
  }  

  .nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    z-index: 100;
  }

  #marca{
    width: 4.5rem;
    padding: 0;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
  }

  img{
    width: 100%;
    margin-left: 0;
  }

  .center img{
    height: 100%;
  }

  #pizzas{
    width: 100%;
    margin: 0%;
    flex-wrap: wrap;
  }

  .nav div{
    width: 3.5rem;
  }

  #pizzas img{
    width: 4rem;
    margin-left: 5%;
  }

  .section-products{
    width: 100%;
    margin-left: 0;
  }

  #video2{
    width: 100%;
    margin-left: 0;
  }

  .divisor{
    width: 88%;
    height: 10%;
    margin-left: 6%;
  }

  #menu, #salir{
    border: none;
    
  }


  #seccion-aleatoria  {
    width: 100%;
    margin-left: 0% !important;
}

#random   {
    width: 100%;
    margin-top: 5rem !important;
    margin-left: 0% !important;
}
}

/* MENU HAMBURGUESA */

#hamburguesitas{
    display: flex;
}

@media(min-width: 570px){
    #hamburguesa{
        display: none;
    }

    #categorias{
        display: none;
    }
  
}



@media(max-width: 570px){

.nav{
        display: none;
    }
    #hamburguesa{
        display: contents;
        color: #0F292F;
    }
    #navbarToggleExternalContent{
        color: #0F292F;
        background-color: #0F292F;
        text-align: right;
        height: 100vh;
    }
    #menu_hamburguesa{
        display: contents;
    }
    #container_fluid{
    width: 100%;
    height: 10vh;
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    position: fixed;
    z-index: 10;
    }

    #container_fluid img{
        height: 9vh;
    }

    #carritoHamburguesa{
        margin-left: 15%;
    }

    #container_fluid #carritoHamburguesa {
        height: 5vh;
    }

    #boton_hamburguesa{
    /* background-color: #0F292F; */
    padding: 3px;
    color: #0F292F;
    font-size: xx-large;
    }

    #hamburguesitas{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hamburguesitas div{
        height: 12vh;
        align-items: center;
        margin-top: 15%;
    }

    #hamburguesitas img{
        height: 80%;
        width: auto;
    }

    .navbar-toggler-icon{
    background-color: #0F292F;
    }

    #pizzas{
        display: none;
    }

    #pizza{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #pizza img{
        width:4rem;
        margin: 3%;
    }

    #contenedorCategorias{
        display: flex;
        justify-content: center;
    }

    #categorias{
        display: flex;
        justify-content: center;
        background-color: #cccccc;
        width: fit-content;
        border-radius: 15px;
        margin: 3% 0%;
    }

    
}   

/* DARK MODE */
.form-check{
    display: flex;
    justify-content: end;
    width: 92%;
    margin-left: 8%;
    padding-right: 3%;
    padding-top: 1%;
}

.form-check input{
    opacity: 1;
}

input[type="checkbox"]:checked ~ .nav
{
    background-color: #0F292F;
}

/* DARK MODE */
/* .switch{
    background-color: #0F292F;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.dark{
    background-color: #0F292F;
} */

/* Estilos pagina random*/

#random {
    color: #0F292F;
    width: 92%;
    margin-left: 8%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

#random img{
    max-width: 150px;
    max-height: 200px;
    margin-left: 0% !important;
    display: flex;
    justify-content: center;
}

#random .texto{
    max-width: 25rem;
}

#seccion-aleatoria {
    margin-left: 8%;
}

.card{
    background: linear-gradient(-45deg, #8b204d, #501F3A);
    min-width: 12rem;
    box-shadow: 0 0 3px rgba(221, 221, 221, 0.151);
}

.card img{
    margin-top: 0rem !important;
    width: 100px !important;
    height: 100px !important;
    padding: 1rem;
}

.btn-verificar {
    background: linear-gradient(-45deg, #12A098, #0F292F);
    transition: all 0.6s ease-in-out;
    color: white;
    border-radius: 22px;
    width: 200px;
}

.btn-verificar:hover{
    background: linear-gradient(-45deg, #0F292F,#12A098);
    font-size: 1.3rem;
    transition: all 0.6s ease-in-out;
}


#seccion-aleatoria h2{
    color: #0F292F;
}

#seccion-aleatoria img{
    margin-left: 0% !important;
}

.btn-otravez {
    background: linear-gradient(-45deg, #6b1a3c, #501F3A);
    transition: all 0.6s ease-in-out;
    color: white;
    border-radius: 22px;
    width: 200px;
}

.btn-otravez:hover {
    background: linear-gradient(-45deg, #501F3A,#6b1a3c);
    font-size: 1.3rem;
    transition: all 0.6s ease-in-out;
}

#divisorBurgers > h2{
    background:linear-gradient(-45deg, #6b1a3c, #501F3A);
    padding: 1rem;
    border-radius: 5px;
}

.producto-random{
    background: linear-gradient(-45deg, #0f292f57,#12a09942);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(221, 221, 221, 0.151);
}



.btn {
    box-shadow: 0 0 3px rgba(221, 221, 221, 0.151);

}

.descripcion {
    color: rgba(255, 255, 255, 0.479);
}

/* #selccionAleatoria .producto */

